page{
	background-color: #f5f5f5;
}
.btn-send{
	width: 100%;
	display: inline-block;
	font-size: 28rpx;
	color: #333;
}
.send-val{
	position: fixed;
	left: 0;
	bottom:-200rpx;
	width: 100%;
	display: flex;
	padding: 20rpx;
	background-color: #fff;
	box-sizing: border-box;
	align-items: center;
	&.show{
		bottom: 0;
	}
	.input-val{
		display:inline-block;
		flex: 1;
		line-height: 60rpx;
		height: 60rpx;;
		font-size: 28rpx;
		border-radius: 6rpx;
		padding-left: 10rpx;
		background-color: #f5f5f5;
	}
	.btn-save{
		display: inline-block;
		width: 120rpx;
		margin-left: 20rpx;
		font-size: 28rpx;
		line-height: 60rpx;
		text-align: center;
		background-color: #f5f5f5;
		
	}
}