.container{
	width: 100%;
	display: inline-block;
	overflow: hidden;
	.sku-wrap{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		display: inline-block;
		.prod-info{
			width: 100%;
			padding: 30rpx;
			background-color: #fff;
			box-sizing: border-box;
			.pic{
				width: 200rpx;
				height: 200rpx;
				display: inline-block;
				overflow: hidden;
				box-sizing: border-box;
				border: 1rpx solid #000;
				transform: translate(0,-80rpx);
				background: #ccc;
			}
		}
	}
}