.container{
	width: 100%;
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	.sku-wrap{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		display: inline-block;
		.prod-info{
			width: 100%;
			padding: 20rpx;
			background-color: #fff;
			box-sizing: border-box;
			display: flex;
			.pic{
				width: 200rpx;
				height: 200rpx;
				display: inline-block;
				overflow: hidden;
				box-sizing: border-box;
				border: 1rpx solid #000;
				background: #ccc;
				border-radius: 8rpx;
				margin-top: -80rpx;
			}
			.info{
				flex:1;
				display: inline-block;
				overflow: hidden;
				margin-left: 20rpx;
				.price{
					display: inline-block;
					width: 100%;
					font-size: 36rpx;
					color: #f28;
				}
				.stock{
					display: inline-block;
					width: 100%;
					font-size: 28rpx;
					color: #666;
				}
				.desc{
					display: inline-block;
					width: 100%;
					font-size: 28rpx;
					color: #666;
				}
			}
		}
	}
}