.page-section{
	width: 100%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	.btn-search{
		display: inline-block;
		position: fixed;
		width: 650rpx;
		left: 50rpx;
		top:30rpx;
		overflow: hidden;
		.img{
			display: inline-block;
			width: 650rpx;
			height: 90rpx;
		}
	}
	.btn-open{
		display: inline-block;
		position: fixed;
		width: 500rpx;
		left: 125rpx;
		bottom: 400rpx;
		overflow: hidden;
		button{
			display: inline-block;
			width: 500rpx;
			line-height: 90rpx;
			color: #fff;
			background-color: rgba($color: #000000, $alpha: .6);
			font-size: 30rpx;
			text-align: center;
		}
	}
	.btn-scale-low{
		display: inline-block;
		position: fixed;
		width: 80rpx;
		right: 20rpx;
		top:50%;
		transform: translate(0,60rpx);
		.img{
			display: inline-block;
			width: 80rpx;
			height: 80rpx;
			box-shadow: 1rpx 1rpx 3rpx #f5f5f5;
		}
	}
	.btn-scale-up{
		display: inline-block;
		position: fixed;
		width: 80rpx;
		right: 20rpx;
		top:50%;
		transform: translate(0,-60rpx);
		.img{
			display: inline-block;
			width: 80rpx;
			height: 80rpx;
			box-shadow: 1rpx 1rpx 3rpx #f5f5f5;
		}
	}
	.btn-view-one{
		display: inline-block;
		position: fixed;
		width: 80rpx;
		left: 20rpx;
		bottom:170rpx;
		.img{
			display: inline-block;
			width: 80rpx;
			height: 80rpx;
		}
	}
	.btn-view-two{
		display: inline-block;
		position: fixed;
		width: 80rpx;
		left: 20rpx;
		bottom:50rpx;
		.img{
			display: inline-block;
			width: 80rpx;
			height: 80rpx;
		}
	}
}